.header {
	padding-top: 40px;
	background: #ffffff;

	&--sticky {
		position: sticky;
		top: -40px;
		z-index: 1;
		box-shadow: 0 0 4px #ccc;
	}

	&-block {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px 0;
	}

	& .menu {
		&-list {
			display: flex;
			gap: 40px;
		}

		&-link {
			font-size: 1.6rem;
			color: #2f3a3b;
		}

		&-link:hover {
			color: #2f3a3b;
			text-shadow: 1px 0 0 currentColor;
		}
	}
	.active {
		color: #2f3a3b;
		text-shadow: 1px 0 0 currentColor;
	}
	& .header-action {
		display: flex;
		align-items: center;
		&__link {
			font-size: 16px;
			color: #494949;
		}

		&__btn {
			font-weight: 600;
			font-size: 1.6rem;
			color: var(--primary-color);
			border: 1px solid var(--primary-color);
			border-radius: 6px;
			padding: 12px 24px;
			margin-left: 48px;
			transition: all 0.3s ease;
			&:hover {
				color: #ffffff;
				background: var(--primary-color);
			}
		}
	}
}
